@if (cs.completedTasks.isLoading()) {
   <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
<app-toolbar [title]="task().name" showBack="true"/>

<app-list-container>
   <mat-list class="scroll">
      @for (comp of completed(); track comp.id) {
      <mat-list-item>
         <span matListItemLine>
              <span class="left">{{comp.date | date}}</span>
               <span class="right">{{comp.submittedBy}}</span>
         </span>
         @if (comp.notes) {
            <span matListItemLine>{{comp.notes}}</span>
         }
         <span matListItemLine>
            @for (attachment of comp.attachments; track attachment) {
              <a href={{attachment.url}}> {{attachment.originalFilename}}</a>
            }
         </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      } @empty {
      <mat-list-item>
         <span matListItemTitle>Task has not yet been performed</span>
      </mat-list-item>
      }
   </mat-list>
</app-list-container>
}


