
.list-container {
   max-width: 600px;
   width: 100vw;
   min-width: none;
   height: 100%;
   background-color: var(--mat-sys-surface)
}

.screen-bg {
   background-color: var(--mat-sys-surface-container-low)
}
