:host {
  display: block;
  font-family: sans-serif;
}
table.mat-table {
  width: 100%;
}

  .amount-header {
    text-align: right;
    justify-content: flex-end;
  }

  .amount-cell {
    text-align: right;
  }